.mainWrapper {
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.sectionWrapper {
  /* border: 3px solid lightskyblue;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 5px; */
  width: 60%;
  min-height: 700px;
  display: flex;
  justify-content: center;
  align-items: center;
}